@font-face {
    font-family: Int;
    src: url(fonts/static/Inter-*);
}
/*section: css elements*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}

/*section: header*/
.header {
    height: 72px;
    color: #F9FAF8;
    background-color: #1F2937;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.headlogo {
    font-size: 24px;
    font-weight: 700;
}
.headlinks {
    font-size: 18px;
    font-weight: 500;
    display: flex; 
    gap: 32px;
    
}
/*section: main*/
.main { /*all elements flex container, 2 children*/
    height: 400px;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.maintext { /*main child 1, text element, 3 children*/
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
/*children of maintext*/
.main .title { 
    font-size: 48px;
    font-weight: bolder;
    white-space: nowrap;
}
.main .description {
    font-size: 18px;
    font-weight: 500;
}
.main .signup {
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882F6;
    border: 1px solid #3882F6;    
    width: min-content;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap; /*prevents whitespace wrap*/
}

.mainimage img { /*main child 2, image container*/
    width: 300px;
    height: auto;
    border-color: #F9FAF8;
    border: 4px solid;
}
/* section 3: work */
.work {
    background-color: #F9FAF8;
    color: #1F2937;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.work .title {
    font-size: 36px;
    font-weight: bolder;
}
.work .container {
    border: 3px solid red;
    width: 65%;
    display: flex;
    justify-content: space-between;
}
.work .info {
    width: 182px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.info > img {
    height: 180px;
    width: 180px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    display: flex;
}
/* section 4: quote */
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.quote .container {
    border: 3px solid red;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.quote p {
    margin: 0;
    border: 3px solid red;
    font-size: 24px;
    font-style: italic;
    display: flex;
}
.quote .name {
    border: 3px solid red;
    font-size: 16px;
    font-weight: bold;
    white-space: wrap;
    display: flex;
    align-self:flex-end;
}