@font-face {
    font-family: Int;
    src: url(fonts/static/Inter-*);
}
body {
    margin: 0;
}

.header {
    height: 72px;
    margin: 0px;
    padding: 0px;
    border: 0px;

    font-family: Int;
    color: white;
    background-color: #59981A;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.links {
    font-family: Int;
    font-size: 18px;
    font-weight: 500;
    display: flex; 
    gap: 32px;
    
}
a {
    text-decoration: none;
    color: white;
}